{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container"> 

    <div>
        {% if session.get('driver_full_name') %}
          <p class="text-end">Welcome {{ session['driver_full_name'] }}</p>
        {% else %}
          <p class="text-end">Not Logged In</p> 
        {% endif %}
    </div>

    <div>
        {% for message in get_flashed_messages() %}
          <div>{{ message }}</div>
        {% endfor %}
    </div>
    <br>

    <div class="form-group">
        <section class="login" id="login">
            <h2 id="signup">Account Sign In</h2>
        
            <form action="/login" autocomplete="on" method="POST">

                <label>Email</label>
                <input type="text" class="form-control" name="email">

                <label>Password</label>
                <input type="text" class="form-control" name="password">
                
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

        </section>
    </div>
</div>

{% endblock %}

{% block after_body %}{% endblock %}